Repository Calamity210/BirbLang, pull requests merged in 2020-09, with the labels that each got.

#28 Added remap
  core/math/math.birb
  examples/math.birb
Labels: core

#47 Added basic bool properties file
  examples/bool.birb
  lib/core_types/bool.dart
  lib/core_types/core_types.dart
  lib/runtime/runtime.dart
Labels: core, coretypes, enhancement

#54 Added No Seeb Operators
  lib/lexer/lexer.dart
  lib/lexer/token.dart
  lib/parser/parser.dart
  lib/runtime/runtime.dart
  test/programs/aware-operators.birb
Labels: core, lexer, parser, runtime

#56 Migrate to is from type!
  lib/runtime/runtime.dart
Labels: runtime
